<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="com.travelocity.testCases.TC_Exercise_001"/>
      <class name="com.travelocity.testCases.TC_Exercise_002"/>
      <class name="com.travelocity.testCases.TC_Exercise_003"/>
      <class name="com.travelocity.testCases.TC_Exercise_004"/>
      <class name="com.travelocity.testCases.TC_Exercise_005"/>
   	  
    </classes>
  </test>  <!-- Test -->
</suite> <!-- Suite -->
